@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-image: linear-gradient(to right, #DAFDBA, #9AEBA3);

}

main {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 2px 2px 15px #01203062;
    width: 800px;
    margin: auto;
    padding: 15px;
    border: 1px solid black;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: #012030;
}

h2 {
    font-size: 1.5em;
    color: #13678A;
}

p {
    text-align: justify;
}

img.lado {
    float: left;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

/* @charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #EADBC6, #E9AD63);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 15px #26477594;
    width: 800px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0D1827;
    text-align: center;
    text-shadow: 1px 1px 2px #0d18273b;
}

h2 {
    color: #264775;
    text-align: center;
}

p {
    text-align: justify;
} */