@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Proza Libre', cursive;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #ffffff;
}

header{
    background-color: #172026;
    padding: 7px;
    margin: -8px -8px 0px -8px;
    text-align: center;
}

nav > a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 20px;;
}

nav > a:hover{
    color: #5FCDD9;
}

main {
    background-color: #ffffff;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}

div.sobre{
    height: 300px;
}

article{

    border-radius: 10px;
    padding: 15px;
    margin: 5px 2px;
}

h1 {
    font-family: var(--fonte-destaque);
    font-weight: bold;
    font-size: 2.2em;
    color: #ffffff;
    margin: 0;
}

h2 {

    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    color: #027373;

}

img.lado {
    margin-top: 0;
    float: right;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #5FCDD9;
}

footer{
    color: #ffffff;
    background-color: #172026;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}

footer p{
    margin: 5px;
}
